@import 'bourbon/bourbon'

// Typefaces
@import url(http://fonts.googleapis.com/css?family=Pacifico)
@import url(http://fonts.googleapis.com/css?family=Raleway:400,600,300)
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700)


//font-family: 'Roboto', sans-serif
//font-family: 'Raleway', sans-serif

// Color Pallete
$primary: #e3e3e3
$secondary: #c5c5c5
$accent: #222
$bkg-color: #f4f4f4
$txt-color: #848484
