@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,600,300);
.centered-text {
  text-align: center; }
  .centered-text div {
    display: inline-block; }

.centered-div .container div {
  margin: 0 auto; }

p, h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200; }

p {
  color: #848484; }

h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 600; }

.quote h3 {
  font-weight: 400;
  color: #222; }

header {
  background-color: #f4f4f4; }
  header .title h1 {
    display: inline;
    font-family: "Pacifico", sans-serif;
    font-size: 4.2em;
    line-height: 1.2;
    padding-left: 20px; }
  header .title h2 {
    padding-top: 20px; }

.container-fluid {
  padding: 0px; }

@media (max-width: 797px) {
  body {
    padding-left: 0px;
    padding-right: 0px; } }
.row.no-pad {
  margin-right: 0;
  margin-left: 0; }

.row.no-pad > [class*='col-'] {
  padding-right: 0;
  padding-left: 0; }

section {
  background-color: #f4f4f4; }
  section#social {
    margin-bottom: 130px; }

header {
  position: relative;
  z-index: 2;
  height: 650px;
  background-image: url("../assets/bg-lg.png");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  header .title {
    margin-top: 115px; }
    header .title img.logo {
      vertical-align: top; }
    header .title img.arrow {
      vertical-align: bottom;
      margin-top: 65px; }

section svg#feature {
  height: 740px;
  width: 360px;
  position: absolute;
  z-index: 2;
  top: 370px;
  left: 50%;
  margin-left: -180px; }
  section svg#feature image {
    x: 0;
    y: 0;
    height: 740px;
    width: 360px; }
section .feature1, section .feature2 {
  margin: 100px auto 50px; }
section .feature3, section .feature4 {
  margin: 0px auto 150px; }

section#call-to-action {
  background-color: #c5c5c5; }
  section#call-to-action .container .row h3 {
    margin-top: 60px; }

section {
  overflow-x: scroll; }
  section #testimonials {
    padding: 230px 0 0 0;
    margin: 0;
    width: 1600px;
    height: 400px; }
    section #testimonials a {
      float: left;
      color: #848484; }
      section #testimonials a [class*='thumb'] {
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
        height: 88.81px;
        width: 88.81px;
        cursor: pointer;
        background-image: url("../assets/avatars.png"); }
        section #testimonials a [class*='thumb']:hover {
          -webkit-filter: grayscale(0);
          filter: grayscale(0);
          -webkit-transition: all 0.15s ease-out 0s;
          -moz-transition: all 0.15s ease-out 0s;
          transition: all 0.15s ease-out 0s; }
      section #testimonials a .thumb01 {
        background-position: 0 0; }
      section #testimonials a .thumb02 {
        background-position: -88.81px 0; }
      section #testimonials a .thumb03 {
        background-position: -177.62px 0; }
      section #testimonials a .thumb04 {
        background-position: -266.43px 0; }
      section #testimonials a .thumb05 {
        background-position: -355.24px 0; }
      section #testimonials a .thumb06 {
        background-position: -444.05px 0; }
      section #testimonials a .thumb07 {
        background-position: -532.86px 0; }
      section #testimonials a .thumb08 {
        background-position: -621.67px 0; }
      section #testimonials a .thumb09 {
        background-position: -710.48px 0; }
      section #testimonials a .thumb10 {
        background-position: -799.29px 0; }
      section #testimonials a .thumb11 {
        background-position: -888.1px 0; }
      section #testimonials a .thumb12 {
        background-position: -976.91px 0; }
      section #testimonials a .thumb13 {
        background-position: -1065.72px 0; }
      section #testimonials a .thumb14 {
        background-position: -1154.53px 0; }
      section #testimonials a .thumb15 {
        background-position: -1243.34px 0; }
      section #testimonials a .thumb16 {
        background-position: -1332.15px 0; }
      section #testimonials a .thumb17 {
        background-position: -1420.96px 0; }
      section #testimonials a .thumb18 {
        background-position: -1509.77px 0; }
      section #testimonials a .thumb19 {
        background-position: 0 -88.81px; }
      section #testimonials a .thumb20 {
        background-position: -88.81px -88.81px; }
      section #testimonials a .thumb21 {
        background-position: -177.62px -88.81px; }
      section #testimonials a .thumb22 {
        background-position: -266.43px -88.81px; }
      section #testimonials a .thumb23 {
        background-position: -355.24px -88.81px; }
      section #testimonials a .thumb24 {
        background-position: -444.05px -88.81px; }
      section #testimonials a .thumb25 {
        background-position: -532.86px -88.81px; }
      section #testimonials a .thumb26 {
        background-position: -621.67px -88.81px; }
      section #testimonials a .thumb27 {
        background-position: -710.48px -88.81px; }
      section #testimonials a .thumb28 {
        background-position: -799.29px -88.81px; }
      section #testimonials a .thumb29 {
        background-position: -888.1px -88.81px; }
      section #testimonials a .thumb30 {
        background-position: -976.91px -88.81px; }
      section #testimonials a .thumb31 {
        background-position: -1065.72px -88.81px; }
      section #testimonials a .thumb32 {
        background-position: -1154.53px -88.81px; }
      section #testimonials a .thumb33 {
        background-position: -1243.34px -88.81px; }
      section #testimonials a .thumb34 {
        background-position: -1332.15px -88.81px; }
      section #testimonials a .thumb35 {
        background-position: -1420.96px -88.81px; }
      section #testimonials a .thumb36 {
        background-position: -1509.77px -88.81px; }
      section #testimonials a .thumb37 {
        background-position: 0 -177.62px; }
      section #testimonials a .thumb38 {
        background-position: -88.81px -177.62px; }
      section #testimonials a .thumb39 {
        background-position: -177.62px -177.62px; }
      section #testimonials a .thumb40 {
        background-position: -266.43px -177.62px; }
      section #testimonials a .thumb41 {
        background-position: -355.24px -177.62px; }
      section #testimonials a .thumb42 {
        background-position: -444.05px -177.62px; }
      section #testimonials a .thumb43 {
        background-position: -532.86px -177.62px; }
      section #testimonials a .thumb44 {
        background-position: -621.67px -177.62px; }
      section #testimonials a .thumb45 {
        background-position: -710.48px -177.62px; }
      section #testimonials a .thumb46 {
        background-position: -799.29px -177.62px; }
      section #testimonials a .thumb47 {
        background-position: -888.1px -177.62px; }
      section #testimonials a .thumb48 {
        background-position: -976.91px -177.62px; }
      section #testimonials a .thumb49 {
        background-position: -1065.72px -177.62px; }
      section #testimonials a .thumb50 {
        background-position: -1154.53px -177.62px; }
      section #testimonials a .thumb51 {
        background-position: -1243.34px -177.62px; }
      section #testimonials a .thumb52 {
        background-position: -1332.15px -177.62px; }
      section #testimonials a .thumb53 {
        background-position: -1420.96px -177.62px; }
      section #testimonials a .thumb54 {
        background-position: -1509.77px -177.62px; }
      section #testimonials a .thumb55 {
        background-position: 0 -266.43px; }
      section #testimonials a .thumb56 {
        background-position: -88.81px -266.43px; }
      section #testimonials a .thumb57 {
        background-position: -177.62px -266.43px; }
      section #testimonials a .thumb58 {
        background-position: -266.43px -266.43px; }
      section #testimonials a .thumb59 {
        background-position: -355.24px -266.43px; }
      section #testimonials a .thumb60 {
        background-position: -444.05px -266.43px; }
      section #testimonials a .thumb61 {
        background-position: -532.86px -266.43px; }
      section #testimonials a .thumb62 {
        background-position: -621.67px -266.43px; }
      section #testimonials a .thumb63 {
        background-position: -710.48px -266.43px; }
      section #testimonials a .thumb64 {
        background-position: -799.29px -266.43px; }
      section #testimonials a .thumb65 {
        background-position: -888.1px -266.43px; }
      section #testimonials a .thumb66 {
        background-position: -976.91px -266.43px; }
      section #testimonials a .thumb67 {
        background-position: -1065.72px -266.43px; }
      section #testimonials a .thumb68 {
        background-position: -1154.53px -266.43px; }
      section #testimonials a .thumb69 {
        background-position: -1243.34px -266.43px; }
      section #testimonials a .thumb70 {
        background-position: -1332.15px -266.43px; }
      section #testimonials a .thumb71 {
        background-position: -1420.96px -266.43px; }
      section #testimonials a .thumb72 {
        background-position: -1509.77px -266.43px; }
      section #testimonials a .quote {
        position: absolute;
        top: 1448px;
        left: 0;
        opacity: 0;
        width: 100%;
        text-align: center;
        padding: 0px;
        margin: 0px; }
        section #testimonials a .quote h3 {
          margin: 40px 0 40px; }
        section #testimonials a .quote p {
          margin: 0; }
      section #testimonials a:hover {
        text-decoration: none;
        pointer: none;
        color: #848484; }
        section #testimonials a:hover .quote {
          opacity: 1;
          -webkit-transition: opacity 0.6s ease-in-out;
          -moz-transition: opacity 0.6s ease-in-out;
          transition: opacity 0.6s ease-in-out; }

section#social {
  float: clear; }

footer {
  background-color: #222;
  padding: 100px 0 40px;
  position: fixed;
  z-index: -1;
  bottom: 0;
  width: 100%; }
  footer nav {
    max-width: 500.766px;
    margin: 0 auto;
    text-align: center; }
    footer nav ul li a {
      color: #e3e3e3; }

/*# sourceMappingURL=style.css.map */
