doctype html

html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='author', content='John William Domingo')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    title Brandi | Creative One Page Template
    meta(name='description', content="30 Day Web Development Challenge - Week 3 | Brandi is a creative multi-purpose one-page template for your personal website, photography, travel, web design agency, nonprofit ,environmental organization or anything related.")

    link(rel='stylesheet', type='text/css', href='/webdevchallenge/css/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/webdevchallenge/css/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='/webdevchallenge/css/projects/brandi/style.css')

  body
    header
      .container
         h1 Meet Brandi!
         h2.text-lowercase /Creative One Page Template.
         h6 We are a team of professionals
     
    section#features
      .container
        .row
          .col-xs-12.text-center
            h3.text-uppercase Features
            
          .col-xs-4
            h4 Branding
            p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
            
          .col-xs-4
            h4 Development
            p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
            
          .col-xs-4
            h4 Consulting
            p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
      
    section#works
      .container
        h3.text-uppercase Works
        p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
      
    section#team
      .container
        h3.text-uppercase Meet Our Team
        p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
    
    section#facts
      .container
        h3.text-uppercase Some Fun Facts
    
    section#contact
      .container
        h3.text-uppercase Let's Discuss
    
    footer
      .container
