doctype html

html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='author', content='John William Domingo')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    title Brandi | Creative One Page Template
    meta(name='description', content="30 Day Web Development Challenge - Week 3 | Brandi is a creative multi-purpose one-page template for your personal website, photography, travel, web design agency, nonprofit ,environmental organization or anything related.")

    link(rel='stylesheet', type='text/css', href='/webdevchallenge/css/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/webdevchallenge/css/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='/webdevchallenge/css/projects/brandi/style.css')

  body
    header
      .container.text-center
        h1 Meet Brandi!
        h2.text-lowercase <span>/Creative</span> One Page Template.
        h6 <span>We are a team of professionals</span>
         
        ul.list-inline
          li: .frame: i.fa.fa-twitter
          li: .frame: i.fa.fa-facebook
          li: .frame: i.fa.fa-google-plus
          li: .frame: i.fa.fa-dribbble
     
        nav.navbar.navbar-inverse.navbar-fixed-top
          .container
            .navbar-header
              button.navbar-toggle(type='button', data-toggle'collapse', data-target'#menu-collapse')
              a.navbar-brand(href='#') Brandi <span>I am your tag line</span>
            #menu-collapse.collapse.navbar-collapse
              ul.nav.navbar-nav.navbar-right
                li: a(href='#') Home
                li: a(href='#') Features
                li: a(href='#') Works
                li: a(href='#') Team
                li: a(href='#') Contact
    
    section#features
      .container
        .row
          .col-xs-12.text-center
            h3.text-uppercase.text-center Features
            span: i.fa.fa-heart-o
          
          .col-xs-1.text-right
            i.fa.fa-leaf
            
          .col-xs-11.col-sm-3
            h4 Branding
            p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
          
          .col-xs-1.text-right
            i.fa.fa-pencil
            
          .col-xs-11.col-sm-3
            h4 Development
            p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore

          .col-xs-1.text-right
            i.fa.fa-hourglass-o
            
          .col-xs-11.col-sm-3
            h4 Consulting
            p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
      
    section#works
      .container
        h3.text-uppercase Works
        p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
      
    section#team
      .container
        h3.text-uppercase Meet Our Team
        p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
    
    section#facts
      .container
        h3.text-uppercase Some Fun Facts
    
    section#contact
      .container
        h3.text-uppercase Let's Discuss
    
    footer
      .container
