@import '../../bourbon/bourbon'

// Typefaces
@import url(http://fonts.googleapis.com/css?family=Pacifico)
@import url(http://fonts.googleapis.com/css?family=Raleway:400,600,300)

// Color Pallete
$primary: #0eb493
$secondary: #062033
$accent1: #0edc94
$accent2: #32b0ee
$txt-color1: #5b646e
$txt-color2: #717982
$txt-color3: #c3c5c8
$txt-inverse: white

////////////////
// TYPOGRAPHY //
////////////////
