doctype html

html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='author', content='John William Domingo')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    title DSGN Associates Studio Design
    meta(name='description', content="30 Day Web Development Challenge - Day 1 | DSGN is a simple, clean and modern retina-display-ready PSD template from The Uncreative Lab.")

    link(rel='stylesheet', type='text/css', href='css/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='css/font-awesome/css/font-awesome.min.css')

  body
    header
      .container-fluid
        .row
          .col-md-3
            .logo
              img(src='assets/header/logo.png', alt='DSGN Logo').img-responsive
              a(href='#') Associates Studio Design
            ul.list-inline
              li: i.fa.fa-facebook
              li: i.fa.fa-twitter
              li: i.fa.fa-linkedin
              li:   i.fa.fa-google-plus
          .col-md-5
            img(src='assets/header/armchairs.png', alt='Brown Leather Armchairs').img-responsive
          .col-md-4
            nav
              #menu
                i.fa.fa-bars
            address
                | 90802 California <br/>
                | Long Beach <br/>
                | PO Box 68789 <br/>
                | 300 East Ocean Boulevard
            a(href='tel:+6493456758') +64 9 345 6758
            a(href='mailto:info@desgin-studio.com') info@desgin-studio.com
    section#projects
      .container-fluid
        .row
          .col-md-8
            .row
              .col-md-6
                .section-title.projects-title Projects
                .section-menu.projects-menu
                  ul.list-unstyled
                    li: a(href='#') All
                    li: a(href='#') House
                    li: a(href='#') Commercial
                    li: a(href='#') Personal
                    li: a(href='#') Studio Lab
              .col-md-6
                #project1
            .row
              .col-md-4
                #project2
              .col-md-8
                #project3
            .row
              .col-md-9
                #project4
              .col-md-3
                #project5
          .col-md-4
            #project6
            #project7
            #project8
            .section-menu.timeline-menu
              ul.list-unstyled
                li Timeline
                li: a(href='#') 2015
                li: a(href='#') 2014
                li: a(href='#') 2013
                li: a(href='#') 2012
                li: a(href='#') 2011
                
    section#studio
      .container-fluid
        .row
          .col-md-4
            .section-title.studio-title Studio
          
          .col-md-4
            .studio-desc
              p.lead Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sollicitudin eros sit amet nulla rhoncus dictum. 

              p.lead Nam rhoncus fringilla dolor vitae vulputate. Nullam quis eros lorem. Integer cursus erat a orci congue feugiat. Cras rhoncus mollis libero, id aliquet purus varius sed.
              
              p Aenean ullamcorper porta nisl, ac lobortis elit commodo placerat. 

              p Vivamus eget laoreet enim. Sed nunc dui, egestas vel diam convallis, faucibus iaculis sapien. Sed ut vulputate nisi. 

              p Proin tempor risus tellus. Maecenas sit amet fringilla urna, vel iaculis velit. Sed ac felis et sem mollis dictum sed id orci.
          
          .col-md-4
            img(src='assets/studio/studio.jpg', alt="Open Studio Floorplan").img-responsive
            .awards
              h6 Awards
              
              
          .clearfix
          
          .col-md-3.col-md-offset-1
            h6 Staff.
            p Sit Sit amet laoreet sapien dictum. Sed eget eros augue. Pellentesque tempor mi sit amet nisi tincidunt tincidunt. Fusce malesuada lectus sed mauris pharetra faucibus.
            p Aenean diam tortor, hendrerit ac pulvinar vel, condimentum ac velit. Phasellus eu odio elit. Aenean volutpat mi quam, ut ornare augue tempus ut.
            p Morbi sagittis diam mauris, in adipiscing nulla convallis ut.
          .col-md-2
            img(src='assets/studio/philippe_starck.jpg', alt='Phillipe Stark').img-responsive
          .col-md-2
            img(src='assets/studio/mario_bellini.jpg', alt='Mario Bellini').img-responsive
          .col-md-2
            img(src='assets/studio/patricia_urquiola.jpg', alt='Patricia Urquiola').img-responsive
          
    section#news
      .container-fluid
        .row
          .col-md-4
            .section-title.news-title
          .col-md-4
            .news-thumb
          .col-md-4
            .news-thumb
    
    footer
      .container-fluid
        .row
          .col-md-6
            img(src='assets/footer/map.jpg', alt='Long Beach Map').img-responsive
          .col-md-6
            .logo
              img(src='assets/header/logo.png', alt='DSGN Logo').img-responsive
              a(href='#') Associates Studio Design
            ul.list-inline
              li: i.fa.fa-facebook
              li: i.fa.fa-twitter
              li: i.fa.fa-linkedin
              li:   i.fa.fa-google-plus
