doctype html

html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='author', content='John William Domingo')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    title Focus Mobile App
    meta(name='description', content="30 Day Web Development Challenge - Week 2 | is a trendy landing page for a mobile app or product.")

    link(rel='stylesheet', type='text/css', href='css/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='css/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='css/style.css')

  body
    header.centered-text
      span.logo
      h1 Focus
      h2 A landing page for your app with focus
      
    section#feature
      .container
        .row
          .col-xs-12.col-sm-3.col-sm-offset-1
            .feature1
              h3 Focus Points
              p Cupcake ipsum dolor sit amet gummies icing liquorice chocolate bar. Muffin powder jelly-o brownie icing.
              svg.ft1
          .col-xs-12.col-sm-3.col-sm-offset-4
            .feature2
              h3 Exposure
              p Cupcake ipsum dolor sit. Amet powder pudding danish. Soufflé jelly beans tart icing pudding.
              svg.ft2
        .clearfix
        .row
          .col-xs-12.col-sm-3.col-sm-offset-1
            .feature3
              h3 Presets
              p Cupcake ipsum dolor sit amet lemon drops muffin. Icing halvah candy canes oat cake.
              svg.ft3
          .col-xs-12.col-sm-3.col-sm-offset-4
            .feature4
              h3 Community
              p Cupcake ipsum dolor sit amet dessert carrot cake. Caramels toffee liquorice.
              svg.ft4
              
    section#call-to-action
      .container
        .row
          .col-xs-5.col-xs-offset-1
            h3 Get The App Today
            p Cupcake ipsum dolor sit amet croissant. Sweet apple pie ice cream icing. Caramels soufflé chupa chups cheesecake sesame snaps. Sweet dessert bear claw jelly jelly-o muffin powder dragée.
            ul.list-inline
              li: i.fa.fa-apple
              li: i.fa.fa-android
              li: i.fa.fa-windows
          .col-xs-5
            iframe(src='https://player.vimeo.com/video/35798558', width='100%', height='auto', frameborder='0', webkitallowfullscreen='true', mozallowfullscreen='true', allowfullscreen='true')
            
    section#testimonials
      .container-fluid
        .row.no-pad
          .col-xs-3.col-sm-6.col-md-12
          .col-xs-3.col-sm-6.col-md-12
          .col-xs-3.col-sm-6.col-md-12
          .col-xs-3.col-sm-6.col-md-12
          .col-sm-6.col-md-12
          .col-sm-6.col-md-12
          .col-md-12
          .col-md-12
          .col-md-12
          .col-md-12
          .col-md-12
          .col-md-12
        .row.no-pad
          .col-xs-3.col-sm-6.col-md-12
          .col-xs-3.col-sm-6.col-md-12
          .col-xs-3.col-sm-6.col-md-12
          .col-xs-3.col-sm-6.col-md-12
          .col-sm-6.col-md-12
          .col-sm-6.col-md-12
          .col-md-12
          .col-md-12
          .col-md-12
          .col-md-12
          .col-md-12
          .col-md-12
        .row.no-pad.hidden-xs
          .col-sm-6.col-md-12
          .col-sm-6.col-md-12
          .col-sm-6.col-md-12
          .col-sm-6.col-md-12
          .col-sm-6.col-md-12
          .col-sm-6.col-md-12
          .col-md-12
          .col-md-12
          .col-md-12
          .col-md-12
          .col-md-12
          .col-md-12
        .row.no-pad.hidden-xs.hidden-sm
          .col-md-12
          .col-md-12
          .col-md-12
          .col-md-12
          .col-md-12
          .col-md-12
          .col-md-12
          .col-md-12
          .col-md-12
          .col-md-12
          .col-md-12
          .col-md-12
          
    section#social
      .container.centered-text
        h3 Say Hi &amp; Get in Touch
        p Cupcake ipsum dolor sit amet chocolate bar danish.
        ul.list-inline
          li: i.fa.fa-twitter
          li: i.fa.fa-facebook
          li: i.fa.fa-pinterest
          li: i.fa.fa-google-plus
          li: i.fa.fa-linkedin
          li: i.fa.fa-youtube
          
    footer
      nav.navbar.navbar-default(role='navigation')
        ul.nav.navbar-nav
          li: a(href='#') Contact
          li: a(href='#') Download
          li: a(href='#') Press
          li: a(href='#') Email
          li: a(href='#') Support
          li: a(href='#') Privacy Policy
