doctype html

html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='author', content='John William Domingo')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    title Focus Mobile App
    meta(name='description', content="30 Day Web Development Challenge - Week 2 | is a trendy landing page for a mobile app or product.")

    link(rel='stylesheet', type='text/css', href='css/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='css/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='css/style.css')

  body
    header.centered-text
      .title
        img(src='assets/logo.png' alt='Focus Logo').logo
        h1 Focus
        h2 A landing page for your app with focus
        a(href='#product' alt='Product Section')
          img(src='assets/arrow.png' alt='Down Arrow').arrow
      
    section
      svg(version='1.1')#feature
        image(xlink:href='assets/iphone.png')
        circle.pt1.pt-out
        circle.pt1.pt-in
        circle.pt2.pt-out
        circle.pt2.pt-in
        circle.pt3.pt-out
        circle.pt3.pt-in
        circle.pt4.pt-out
        circle.pt4.pt-in
      //.product
      .container.space-above
        .row
          .col-xs-12.col-sm-3.col-sm-offset-1
            .feature1
              h3 Focus Points
              p Cupcake ipsum dolor sit amet gummies icing liquorice chocolate bar. Muffin powder jelly-o brownie icing.            
          .col-xs-12.col-sm-3.col-sm-offset-4
            .feature2
              h3 Exposure
              p Cupcake ipsum dolor sit. Amet powder pudding danish. Soufflé jelly beans tart icing pudding.
        .clearfix
        .row
          .col-xs-12.col-sm-3.col-sm-offset-1
            .feature3
              h3 Presets
              p Cupcake ipsum dolor sit amet lemon drops muffin. Icing halvah candy canes oat cake.
          .col-xs-12.col-sm-3.col-sm-offset-4
            .feature4
              h3 Community
              p Cupcake ipsum dolor sit amet dessert carrot cake. Caramels toffee liquorice.
              
    section#call-to-action
      .container
        .row
          .col-xs-4.col-xs-offset-1
            h3 Get The App Today
            p Cupcake ipsum dolor sit amet croissant. Sweet apple pie ice cream icing. Caramels soufflé chupa chups cheesecake sesame snaps. Sweet dessert bear claw jelly jelly-o muffin powder dragée.
            ul.list-inline
              li: i.fa.fa-apple
              li: i.fa.fa-android
              li: i.fa.fa-windows
          .col-xs-5.col-xs-offset-1
            iframe(src='https://player.vimeo.com/video/35798558?title=0&byline=0&portrait=0?badge=0', width='100%', height='240px', frameborder='0', webkitallowfullscreen='true', mozallowfullscreen='true', allowfullscreen='true')
            
    section
      #testimonials
        a
          .thumb01
          .quote
            h3 &#34;Fantastic, I'm totally blown away by Focus.&#34;
            p <strong>Charles Mendoza, </strong> Senior User Experience Specialist
        a
          .thumb02
          .quote
            h3 &#34;This is unbelievable. After using Focus my buisness skyrocketed!&#34;
            p <strong>Michael Long, </strong> Front End Design Professional
        a
          .thumb03
          .quote
            h3 &#34;Focus is worth much more than I paid. It's just amazing.&#34;
            p <strong>Frank Wilson, </strong> Human Factors Evangelist
        a
          .thumb04
          .quote
            h3 &#34;Focus impressed me on multiple levels.&#34;
            p <strong>Amber Gutierrez, </strong> Usability Practitioner
        a
          .thumb05
          .quote
            h3 &#34;Amazing app.&#34;
            p <strong>Billy Lewis, </strong> Visual Professional
        a
          .thumb06
          .quote
            h3 &#34;It really saves me time and effort.&#34;
            p <strong>Bobby Douglas, </strong> Mobile Information Architect
        a
          .thumb07
          .quote
            h3 &#34;We've seen amazing results already. Focus impressed me on multiple levels.&#34;
            p <strong>Brandon Riley, </strong> Associate Interaction Analyst
        a
          .thumb08
          .quote
            h3 &#34;I made back the purchase price in just 48 hours!&#34;
            p <strong>Christian Morales, </strong> Mobile Usability Consultant
        a
          .thumb09
          .quote
            h3 &#34;Since I invested in Focus I made over $100,000 profits.&#34;
            p <strong>Beverly Murray, </strong> Mobile Information Generalist
        a
          .thumb10
          .quote
            h3 &#34;Stunning photography.&#34;
            p <strong>Anna Weber, </strong> Food Photographer
        a
          .thumb11
          .quote
            h3 &#34;Quadrupled my social media likes!&#34;
            p <strong>Carol Richardson, </strong> UX/UI Designer
        a
          .thumb12
          .quote
            h3 &#34;Brilliant presets for all my food photography.&#34;
            p <strong>Jesse Morris, </strong> Database Administrator
        a
          .thumb13
          .quote
            h3 &#34;Focus saved my business.&#34;
            p <strong>Brittany Bates, </strong> Associate GUI Strategist
        a
          .thumb14
          .quote
            h3 &#34;Easy to use and more convenient that the default camera app!&#34;
            p <strong>Maria Rose, </strong> Interaction Crusader
        a
          .thumb15
          .quote
            h3 &#34;I don't always clap, but when I do, it's because of Focus.&#34;
            p <strong>Sharon Ortega, </strong> Information Designer
        a
          .thumb16
          .quote
            h3 &#34;Web traffic has never been higher than with Focus!&#34;
            p <strong>Joseph Woods, </strong> Googler
        a
          .thumb17
          .quote
            h3 &#34;Focus is exactly what our business has been lacking.&#34;
            p <strong>Alice Roberts, </strong> Usability Unicorn
        a
          .thumb18
          .quote
            h3 &#34;Five stars.&#34;
            p <strong>Frank Thomas, </strong> Human Factors Strategist
        a
          .thumb19
          .quote
            h3 &#34;The service is beyond excellent!&#34;
            p <strong>Robert Sanchez, </strong> User Interface Evangelist
        a
          .thumb20
          .quote
            h3 &#34;Speechless.&#34;
            p <strong>Henry Cooper, </strong> Junior Interaction Developer
        a
          .thumb21
          .quote
            h3 &#34;I don't know what else to say. Focus is superb.&#34;
            p <strong>Joseph Garcia, </strong> Front End Design Specialist
        a
          .thumb22
          .quote
            h3 &#34;I would like to personally thank you for your outstanding product.&#34;
            p <strong>Samuel Lee, </strong> GUI Guru
        a
          .thumb23
          .quote
            h3 &#34;Dude, this app is the bomb!&#34;
            p <strong>Raymond Alvarez, </strong> UI/UX Architect
        a
          .thumb24
          .quote
            h3 &#34;Don't hesitate to download.&#34;
            p <strong>Roger Wells, </strong> Head Front End Designer
        a
          .thumb25
          .quote
            h3 &#34;I highly recommend.&#34;
            p <strong>Walter Gardner, </strong> Human Factors Producer
        a
          .thumb26
          .quote
            h3 &#34;You're already missing out. Get it now.&#34;
            p <strong>David Chen, </strong> Director
        a
          .thumb27
          .quote
            h3 &#34;My work has never looked so good.&#34;
            p <strong>Kevin Lee, </strong> Food Blogger
        a
          .thumb28
          .quote
            h3 &#34;My new default photography app.&#34;
            p <strong>Anthony Thompson, </strong> Photographer
        a
          .thumb29
          .quote
            h3 &#34;Can't get enough.&#34;
            p <strong>Lauren Bradley, </strong> User Experience Analyst
        a
          .thumb30
          .quote
            h3 &#34;I will recommend you to my colleagues.&#34;
            p <strong>Julia Alexander, </strong> Etsy Shop Owner'
        a
          .thumb31
          .quote
            h3 &#34;Selfies never looked better.&#34;
            p <strong>Teresa Harris, </strong> Videographer
        a
          .thumb32
          .quote
            h3 &#34;I broke Instagram with the help of Focus.&#34;
            p <strong>Janice Washington, </strong> Pinterest Consultant
        a
          .thumb33
          .quote
            h3 &#34;This app rocks!&#34;
            p <strong>Jeremy Hunt, </strong> Photo Lab Manager
        a
          .thumb34
          .quote
            h3 &#34;Why are you still waiting to download Focus! Go now!&#34;
            p <strong>Sandra Weaver, </strong> UI/UX Specialist
        a
          .thumb35
          .quote
            h3 &#34;Never a blurry photo, ever again.&#34;
            p <strong>Billy Rivera, </strong> Senior Business Analyst
        a
          .thumb36
          .quote
            h3 &#34;Testimonials adapted from testimonial-generator.com&#34;
            p <strong>Brenda Harvey, </strong> Cinematographer
        a
          .thumb37
          .quote
            h3 &#34;Selfies all day.&#34;
            p <strong>Joyce Ruiz, </strong> Database Consultant
        a
          .thumb38
          .quote
            h3 &#34;Avatars courtesy of UI Faces&#34;
            p <strong>Thomas Howard, </strong> Marketing Specialist
        a
          .thumb39
          .quote
            h3 &#34;I love it.&#34;
            p <strong>Raymond O'Brien, </strong> Principal Content Consultant
        a
          .thumb40
          .quote
            h3 &#34;Makes my life so much easier.&#34;
            p <strong>Harry Day, </strong> UI/UX Sorcerer
        a
          .thumb41
          .quote
            h3 &#34;Names sourced from UI Names&#34;
            p <strong>Messia McCoy, </strong> Associate Content Professional
        a
          .thumb42
          .quote
            h3 &#34;I broke Twitter thanks to Focus.&#34;
            p <strong>Sara Rose, </strong> Mobile Information Extraordinaire
        a
          .thumb43
          .quote
            h3 &#34;Share easily and rack up those likes!&#34;
            p <strong>Amy Curtis, </strong> Chief User Experience Producer
        a
          .thumb44
          .quote
            h3 &#34;Just download the app and see for yourself.&#34;
            p <strong>John Black, </strong> Chief User Experience Guru
        a
          .thumb45
          .quote
            h3 &#34;Capture the best memories.&#34;
            p <strong>Harry Ramirez, </strong> Chief User Experience Producer
        a
          .thumb46
          .quote
            h3 &#34;Focus offers so much more than any camera app on the market.&#34;
            p <strong>Kevin Reilly, </strong> Black Belt Mobile User Interface Professional
        a
          .thumb47
          .quote
            h3 &#34;How can I love this app so much.&#34;
            p <strong>Jeremy Garcia, </strong> Lead User Experience Architect
        a
          .thumb48
          .quote
            h3 &#34;Best app in town.&#34;
            p <strong>Kelly Hawkins, </strong> Associate IxD Consultant
        a
          .thumb49
          .quote
            h3 &#34;Revolutionary in the photography apps niche.&#34;
            p <strong>Megan Webb, </strong> Senior Interaction Sorcerer
        a
          .thumb50
          .quote
            h3 &#34;Move over Instagram.&#34;
            p <strong>Jessica Peterson, </strong> Heavyweight Mobile Information Expert
        a
          .thumb51
          .quote
            h3 &#34;You will not regret this purchase.&#34;
            p <strong>Craig Bryant, </strong> UI/UX Developer
        a
          .thumb52
          .quote
            h3 &#34;Best. App. Ever.&#34;
            p <strong>Kyle Watkins, </strong> Junior Usability Researcher
        a
          .thumb53
          .quote
            h3 &#34;I broke Facebook when I posted a Focus selfie.&#34;
            p <strong>Jason Little, </strong> Principal UI/UX Crusader
        a
          .thumb54
          .quote
            h3 &#34;Thrilling.&#34;
            p <strong>Ethan Morrison, </strong> Chief Mobile Content Ninja
        a
          .thumb55
          .quote
            h3 &#34;Time-lapse is easy to use and very intuitive!&#34;
            p <strong>Julie Robinson, </strong> Lead Front End Design Champion
        a
          .thumb56
          .quote
            h3 &#34;Thanks Focus!&#34;
            p <strong>Barbara Butler, </strong> Head Mobile Human Factors Technologist
        a
          .thumb57
          .quote
            h3 &#34;VSCO Killer&#34;
            p <strong>Jennifer Richardson, </strong> Junior Content Technologist
        a
          .thumb58
          .quote
            h3 &#34;Thank you for making it painless and hassle free!&#34;
            p <strong>Olivia Jacobs, </strong> Junior Usability Unicorn
        a
          .thumb59
          .quote
            h3 &#34;Buy this now. I can't say enough about Focus.&#34;
            p <strong>Anna Jensen, </strong> Heavyweight Mobile Front End Design Ninja
        a
          .thumb60
          .quote
            h3 &#34;Selfies galore.&#34;
            p <strong>Kimberly Greene, </strong> Junior Visual Rock Star
        a
          .thumb61
          .quote
            h3 &#34;I would gladly pay over $600 for Focus. But I didn't need to.&#34;
            p <strong>Anna Cole, </strong> Senior Front End Design Specialist
        a
          .thumb62
          .quote
            h3 &#34;It's really wonderful!&#34;
            p <strong>Karen Watson, </strong> Associate GUI Specialist
        a
          .thumb63
          .quote
            h3 &#34;I will refer everyone I know.&#34;
            p <strong>Christina Kelly, </strong> Heavyweight User Interface Extraordinaire
        a
          .thumb64
          .quote
            h3 &#34;Great job.&#34;
            p <strong>Jerry Keller, </strong> Junior IxD Generalist
        a
          .thumb65
          .quote
            h3 &#34;Supeb!&#34;
            p <strong>Lianne La Havas, </strong> HR Specialist
        a
          .thumb66
          .quote
            h3 &#34;Keep up the excellent work.&#34;
            p <strong>Jordan Gutierrez, </strong> Heavyweight GUI Specialist
        a
          .thumb67
          .quote
            h3 &#34;The service was excellent.&#34;
            p <strong>Donald Dixon, </strong> Office Manager
        a
          .thumb68
          .quote
            h3 &#34;The best on the net!&#34;
            p <strong>Robert Simmons, </strong> Administrative Assistant
        a
          .thumb69
          .quote
            h3 &#34;I like Focus more and more each day because it makes my life a lot easier.&#34;
            p <strong>Barbara Douglas, </strong> Restaurant Manager
        a
          .thumb70
          .quote
            h3 &#34;I have gotten at least 50 times the value from Focus.&#34;
            p <strong>Dylan Banks, </strong> Head IxD Expert
        a
          .thumb71
          .quote
            h3 &#34;We have no regrets! I am completely blown away.&#34;
            p <strong>John William, </strong> Instagrammer
        a
          .thumb72
          .quote
            h3 &#34;I didn't even need training.&#34;
            p <strong>Leslie Feist, </strong> Executive Assistant

    section#social
      .container.centered-text
        h3 Say Hi &amp; Get in Touch
        p Cupcake ipsum dolor sit amet chocolate bar danish.
        ul.list-inline
          li: i.fa.fa-twitter
          li: i.fa.fa-facebook
          li: i.fa.fa-pinterest
          li: i.fa.fa-google-plus
          li: i.fa.fa-linkedin
          li: i.fa.fa-youtube
          
    footer
      nav(role='navigation')
        ul.nav.navbar-nav
          li: a(href='#') Contact
          li: a(href='#') Download
          li: a(href='#') Press
          li: a(href='#') Email
          li: a(href='#') Support
          li: a(href='#') Privacy Policy
